Repository yunaamelia/Zulu-pilot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=10

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "prettier --write",
    "eslint --fix --max-warnings=10"
  ],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

feat: update google cloud provider with new model configurations
  docs/configuration-guide.md
  src/cli/commands/chat.ts
  src/core/llm/GoogleCloudProvider.ts
Due: prettier --write, eslint --fix --max-warnings=10

feat: update model command to show all available models
  src/cli/commands/model.ts
  tests/integration/cli/e2e-performance.test.ts
  tests/integration/cli/quickstart-validation.test.ts
  tests/integration/performance/load.test.ts
  tests/unit/cli/commands/model.test.ts
  tests/unit/cli/ui/diff.test.ts
  tests/unit/cli/ui/spinner.test.ts
  tests/unit/core/parser/CodeChange.test.ts
  tests/unit/utils/errors.test.ts
Due: prettier --write, eslint --fix --max-warnings=10

fix: update tests to match new default provider (googleClaude)
  .gitignore
Due: none

fix: update tests and add Google Cloud Claude provider support
  .cursor/rules/constitution.mdc
  package.json
  scripts/README-test-models.md
  scripts/setup-google-claude.sh
  scripts/switch-provider.sh
  scripts/test-all-models.sh
  scripts/test-all-models.ts
  scripts/test-auth-config.ts
  scripts/test-vertex-config.ts
  src/cli/commands/chat.ts
  src/cli/commands/model.ts
  src/cli/index.ts
  src/core/config/ConfigManager.ts
  src/core/llm/GoogleCloudProvider.ts
  src/utils/validators.ts
  tests/integration/cli/quickstart-validation.test.ts
  tests/unit/cli/commands/model.test.ts
  vertex-config.md
Due: prettier --write, eslint --fix --max-warnings=10

feat: Replace Meta Llama model with E5 embeddings model
  scripts/DEEPSEEK-R1-CONFIG.md
  scripts/test-all-models.ts
  scripts/test-auth-simple.ts
  scripts/test-deepseek-r1-curl.ts
  scripts/test-deepseek-r1-debug.ts
  scripts/test-deepseek-r1-new.ts
  scripts/test-deepseek-r1-provider-new.ts
  scripts/test-deepseek-r1.ts
  scripts/test-deepseek-v3.1-provider.ts
  scripts/test-deepseek-v3.1.ts
  scripts/test-e5-embeddings.ts
  scripts/test-google-cloud-models.ts
  scripts/test-gpt-oss-provider.ts
  scripts/test-gpt-oss.ts
  scripts/test-models-detailed.ts
  src/cli/commands/chat.ts
  src/cli/commands/model.ts
  src/core/auth/GoogleCloudAuth.ts
  src/core/llm/GoogleCloudProvider.ts
  tests/integration/cli/quickstart-validation.test.ts
  tests/unit/core/auth/GoogleCloudAuth.test.ts
  tests/unit/core/llm/GoogleCloudProvider.test.ts
Due: prettier --write, eslint --fix --max-warnings=10

feat: add gemini 3.0 pro preview support and fix e5 embeddings model config
  .env.example
  package.json
  scripts/test-gemini-3-pro-preview.ts
  scripts/test-gemini-3-simple.ts
  scripts/test-list-models.ts
  src/cli/index.ts
  src/core/llm/GoogleCloudProvider.ts
Due: prettier --write, eslint --fix --max-warnings=10

docs: establish comprehensive project constitution v1.0.0
  .cursor/commands/speckit.plan.md
  .lintstagedrc.json
  .specify/memory/constitution.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
Due: prettier --write

feat: add comprehensive implementation plan for Zulu Pilot v2
  .cursor/rules/specify-rules.mdc
  specs/002-gemini-cli-rebuild/checklists/requirements.md
  specs/002-gemini-cli-rebuild/contracts/cli-commands.interface.ts
  specs/002-gemini-cli-rebuild/contracts/configuration.schema.json
  specs/002-gemini-cli-rebuild/contracts/model-adapter.interface.ts
  specs/002-gemini-cli-rebuild/contracts/model-provider.interface.ts
  specs/002-gemini-cli-rebuild/data-model.md
  specs/002-gemini-cli-rebuild/plan.md
  specs/002-gemini-cli-rebuild/quickstart.md
  specs/002-gemini-cli-rebuild/research.md
  specs/002-gemini-cli-rebuild/spec.md
  specs/002-gemini-cli-rebuild/tasks.md
Due: prettier --write, eslint --fix --max-warnings=10

fix: resolve high and medium priority issues from analysis
  specs/002-gemini-cli-rebuild/ANALYSIS.md
  specs/002-gemini-cli-rebuild/plan.md
  specs/002-gemini-cli-rebuild/spec.md
  specs/002-gemini-cli-rebuild/tasks.md
Due: prettier --write

feat: implement Phase 1 - Setup (Shared Infrastructure)
  .eslintrc.js
  .husky/pre-commit
  package.json
  specs/002-gemini-cli-rebuild/integration-points.md
  specs/002-gemini-cli-rebuild/tasks.md
Due: prettier --write

feat: Interactive chat, security fix, and refactoring
  .gitignore
  .specify/memory/constitution.md
  .specify/templates/plan-template.md
  eslint.config.js
  packages/adapter/src/MultiProviderRouter.ts
  packages/cli/src/commands/chat.ts
  packages/cli/src/commands/index.ts
  packages/cli/src/ui/FeatureDegradation.ts
  packages/cli/src/ui/Spinner.ts
  packages/cli/src/ui/StreamOutput.ts
  packages/cli/src/ui/ThinkingDisplay.ts
  packages/core/src/code_assist/oauth2.ts
  packages/core/src/config/UnifiedConfigManager.ts
  packages/core/src/config/UnifiedConfiguration.ts
  packages/core/src/config/config.ts
  packages/core/src/conversation/ConversationManager.ts
  packages/core/src/core/zuluPilotContentGenerator.ts
  packages/core/src/index.ts
  specs/002-gemini-cli-rebuild/tasks.md
  tests/contract/model-interface.test.ts
  tests/e2e/full-workflows/interactive-chat.test.ts
  tests/integration/cli/interactive-chat.test.ts
  tests/integration/core/ModelManager.test.ts
  tests/unit/cli/commands/chat.test.ts
  tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=10

feat: Complete Phase 4 User Story 2 - File Operations dengan Custom Models (T065-T073)
  .eslintignore
  .npmignore
  packages/core/src/tools/FileOperationsTool.ts
  specs/002-gemini-cli-rebuild/tasks.md
  tests/e2e/full-workflows/file-operations.test.ts
  tests/integration/tools/FileOperationsRouting.test.ts
  tests/integration/tools/GlobTool.test.ts
  tests/integration/tools/ReadFileTool.test.ts
  tests/integration/tools/WriteFileTool.test.ts
  tests/integration/tools/file-read.test.ts
  tests/integration/tools/file-search.test.ts
  tests/integration/tools/file-write.test.ts
Due: prettier --write, eslint --fix --max-warnings=10

fix: Fix TypeScript errors in Phase 4 test files
  tests/integration/tools/FileOperationsRouting.test.ts
  tests/integration/tools/WriteFileTool.test.ts
  tests/integration/tools/file-write.test.ts
Due: prettier --write, eslint --fix --max-warnings=10

fix: Fix TypeScript and ESLint errors in test files
  packages/providers/src/OllamaProvider.ts
  tests/integration/cli/interactive-chat.test.ts
  tests/integration/core/ModelManager.test.ts
  tests/unit/adapter/MultiProviderRouter.test.ts
  tests/unit/adapter/ProviderRegistry.test.ts
Due: prettier --write, eslint --fix --max-warnings=10

feat: Implement Phase 5 - Context Management (T074-T094)
  packages/adapter/src/GeminiCLIModelAdapter.ts
  packages/cli/src/commands/add.ts
  packages/cli/src/commands/clear.ts
  packages/cli/src/commands/context.ts
  packages/cli/src/commands/index.ts
  packages/core/src/context/ContextManager.ts
  packages/core/src/context/FileContext.ts
  packages/core/src/context/TokenEstimator.ts
  packages/core/src/index.ts
  packages/core/src/utils/contextErrors.ts
  packages/core/src/utils/validators.ts
  specs/002-gemini-cli-rebuild/tasks.md
  tests/e2e/full-workflows/context-management.test.ts
  tests/integration/cli/add-command.test.ts
  tests/integration/cli/clear-command.test.ts
  tests/integration/cli/context-command.test.ts
  tests/unit/cli/commands/add.test.ts
  tests/unit/cli/commands/chat.test.ts
  tests/unit/cli/commands/clear.test.ts
  tests/unit/cli/commands/context.test.ts
  tests/unit/core/context/ContextManager.test.ts
  tests/unit/core/context/FileContext.test.ts
Due: prettier --write, eslint --fix --max-warnings=10

fix: Fix TypeScript and ESLint errors in modified files
  packages/core/src/agents/executor.ts
  packages/core/src/code_assist/oauth2.ts
  packages/core/src/core/coreToolScheduler.ts
  packages/core/src/core/loggingContentGenerator.ts
  packages/core/src/index.ts
  packages/core/src/mcp/oauth-provider.ts
  packages/core/src/utils/errorParsing.ts
  packages/core/src/utils/fileUtils.ts
  packages/core/src/utils/safeJsonStringify.ts
Due: prettier --write, eslint --fix --max-warnings=10

Revise agent name and governance framework details
  .github/agents/my-agent.agent.md
Due: prettier --write

[WIP] Establish code quality and testing standards (#2)
  .quality-gates.yml
  BYPASS-JUSTIFICATION.md
  CONTRIBUTING.md
  STANDARDS-ESTABLISHMENT-SUMMARY.md
  docs/constitution-compliance.md
  docs/quality-gates-quick-reference.md
  docs/technical-debt-remediation.md
  eslint.config.js
Due: prettier --write

pull (#3)
  .github/agents/my-agent.agent.md
  .quality-gates.yml
  BYPASS-JUSTIFICATION.md
  CONTRIBUTING.md
  STANDARDS-ESTABLISHMENT-SUMMARY.md
  docs/constitution-compliance.md
  docs/quality-gates-quick-reference.md
  docs/technical-debt-remediation.md
  eslint.config.js
Due: prettier --write

refactor(cli): reduce handleModelCommand complexity from 22 to ≤10
  fix.md
  src/cli/commands/model.ts
Due: prettier --write, eslint --fix --max-warnings=10

refactor(core): reduce GoogleCloudProvider complexity (Sprint 2)
  src/core/llm/GoogleCloudProvider.ts.bak
Due: none

refactor(core): finalize streamResponse complexity reduction (Sprint 2)
  src/core/llm/GoogleCloudProvider.ts
Due: prettier --write, eslint --fix --max-warnings=10

docs: update fix.md with Sprint 2 completion status
  fix.md
Due: prettier --write

test(core): add comprehensive error handling and edge case tests (Sprint 3)
  tests/unit/core/llm/GoogleCloudProvider.test.ts
Due: prettier --write, eslint --fix --max-warnings=10

docs: update fix.md with Sprint 3 completion status
  fix.md
Due: prettier --write

feat(cli): implement provider switching and context persistence (T108-T111)
  packages/adapter/src/GeminiCLIModelAdapter.ts
  packages/cli/src/commands/chat.ts
  specs/002-gemini-cli-rebuild/tasks.md
  tests/integration/providers/all-providers.test.ts
  tests/unit/cli/commands/provider.test.ts
Due: prettier --write, eslint --fix --max-warnings=10

feat(adapter): implement request/response converters for OpenAI, Google Cloud, and Gemini (T101-T103)
  packages/adapter/src/converters/GeminiConverter.ts
  packages/adapter/src/converters/GoogleCloudConverter.ts
  packages/adapter/src/converters/OpenAIConverter.ts
  packages/adapter/src/index.ts
  specs/002-gemini-cli-rebuild/tasks.md
Due: prettier --write, eslint --fix --max-warnings=10

fix(adapter,test): fix ESLint errors in error handling implementation
  packages/adapter/src/GeminiCLIModelAdapter.ts
  packages/adapter/src/errorHandlers/ProviderErrorHandler.ts
  packages/adapter/src/index.ts
  packages/cli/src/ui/ErrorDisplay.ts
  packages/core/src/utils/errors.ts
  specs/002-gemini-cli-rebuild/tasks.md
  tests/integration/errors/connection-error.test.ts
  tests/integration/errors/invalid-api-key.test.ts
  tests/integration/errors/model-not-found.test.ts
  tests/integration/errors/rate-limit.test.ts
  tests/unit/utils/errors.test.ts
Due: prettier --write, eslint --fix --max-warnings=10

fix(adapter): remove unused providerName variable in try blocks
  packages/adapter/src/GeminiCLIModelAdapter.ts
Due: prettier --write, eslint --fix --max-warnings=10

feat(phase11): Implement User Story 7 - Code Change Proposal & Approval Workflow
  packages/cli/src/ui/DiffDisplay.ts
  packages/cli/src/utils/CodeChangeApproval.ts
  packages/core/src/parser/CodeChangeParser.ts
  packages/core/src/parser/CodeChangeProposal.ts
  packages/core/src/parser/FilePatcher.ts
  packages/core/src/parser/index.ts
  packages/core/src/tools/CodeEditTool.ts
  specs/002-gemini-cli-rebuild/tasks.md
  tests/e2e/full-workflows/code-change.test.ts
  tests/integration/cli/code-change.test.ts
  tests/unit/core/parser/CodeChangeParser.test.ts
  tests/unit/core/parser/CodeChangeProposal.test.ts
  tests/unit/core/parser/FilePatcher.test.ts
Due: prettier --write, eslint --fix --max-warnings=10

docs: Add quality improvement task prompts for GitHub Agent
  .github/AGENT_QUALITY_TASKS.md
  .github/AGENT_QUALITY_TASKS_PROMPT.md
Due: prettier --write
